* {
  box-sizing: border-box;
}

.header,
.footer {
  height: 100px;
  border: 3px solid black;
  clear: both;
}

.section {
  /* float: left; */
  height: 300px;
  border: 3px solid black;
  /* width: 33.3333%; */
}

@media screen and (max-width: 600px) {
  .section {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .top {
    float: left;
    width: 50%;
  }
  .bottom {
    clear: both;
  }
}

@media (min-width: 901px) {
  .section {
    float: left;
    width: 33.3333%;
  }
}
