body {
  margin: 2em;
  background-color: whitesmoke;
}

section {
  padding: 2em;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px lightgray;
  margin-bottom: 2em;
  background-color: white;
}

input {
  display: block;
  margin-bottom: 0.5em;
}

.top {
  display: flex;
  gap: 2em;
}

.top > * {
  flex: 1 1 auto;
}
